body{
    background:url(gitar2.jpeg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: Georgia;
}
h1{
    background-color: red;
    text-align: center;
    color: white;
}
h2{
    color:black;
    font-size:25px;
}
p{
    margin-left: 50px;
    color: rgb(255, 251, 0);
    font-size:24px;
}